<!DOCTYPE html>
<html>
    <head>
        <title>mFi Control</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <link rel="stylesheet" href="/static/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div style="margin: 20px">
            <h2 align="center">mFi Control</h2>

            {% block content %}
            {% endblock %}
        </div>

        {% block js %}
        {% endblock %}
    </body>
</html>