{% extends "base.html" %}

{% block content %}
    <h1 style="display: none">{{ device_name }}</h1>
    <div style="display: none">
        JSON:<br/>
        {{ devices }}
        <br/>
    </div>
    {% for dev in devices %}
        <h2>{{ dev.name }}</h2>
        {% if dev.type == "power_cord" %}
            {% for s in dev.data %}
                {% with dev_name=dev.name, output_state=s.output, label=s.label, port=s.port, power=s.power, type=dev.type, column1width=90, column2width=80 %}
                    {% include "sensor_row.html" %}
                {% endwith %}
            {% endfor %}
        {% elif dev.type == "server" %}
            {% with dev_name=dev.name, output_state=dev.data.output, power=-1, port=0, type=dev.type, column1width=60, column2width=110 %}
                {% include "sensor_row.html" %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js_lib.js"></script>
    <script type="text/javascript">
        // Update the current power usage every 5 seconds
        setInterval(fetchPowerUsage, 5000);
    </script>
{% endblock %}
